<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="chat-header">
      <button onclick="window.location.href='/users'" class="back-btn">← Back</button>
  Chat with {{ receiver }}
  <div style="margin-top:10px;">
    <form method="GET" action="/chat/{{ receiver }}/search">
    <input type="text" name="q" placeholder="Search messages..." value="{{ search_query if search_query else '' }}">
    <button type="submit">Search</button>
    <a href="/chat/{{ receiver }}" class="btn">Back</a>
</form>

  </div>
</div>


    <div class="chat-log" id="chat-log">
        {% for row in chat %}
        <div class="message-row">
            <div class="msg-bubble {% if row['sender'] == user %}self{% else %}other{% endif %}">
                <strong>{% if row['sender'] == user %}You{% else %}{{ row['sender'] }}{% endif %}:</strong>
                <div>
                    {% if row['message'] %} {{ row['message'] | e }} <br>{% endif %}
                    {% if row['file_type'] == 'image' %}
                        <img src="/uploads/{{ row['file_path'] }}" width="200">
                    {% elif row['file_type'] == 'audio' %}
                        <audio controls src="/uploads/{{ row['file_path'] }}"></audio>
                    {% elif row['file_type'] == 'video' %}
                        <video width="320" height="240" controls>
                            <source src="/uploads/{{ row['file_path'] }}">
                        </video>
                    {% elif row['file_path'] %}
                        <a href="/uploads/{{ row['file_path'] }}" target="_blank">📂 {{ row['file_path'] }}</a>
                    {% endif %}
                </div>
                <div class="msg-meta">
                    {{ row['timestamp'] }}
                    {% if row['sender'] == user %}
                        {% if row['status'] == 'sent' %}
                            ✓
                        {% elif row['status'] == 'delivered' %}
                            ✓✓
                        {% elif row['status'] == 'seen' %}
                            <span class="blue">✓✓</span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <form class="chat-box" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="text" name="message" placeholder="Type message...">
        <button type="submit">Send</button>
    </form>
</div>
</body>
</html>
